/*++COLORS PALETTE*/
/*COLORS PALETTE--*/
/*++COLORS VARIABLES*/
/*COLORS VARIABLES--*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  font-family: 'MyriadProRegular';
  src: url("/fonts/MyriadProRegular.eot");
  src: url("/fonts/MyriadProRegular.eot") format("embedded-opentype"), url("/fonts/MyriadProRegular.woff2") format("woff2"), url("/fonts/MyriadProRegular.woff") format("woff"), url("/fonts/MyriadProRegular.ttf") format("truetype"), url("/fonts/MyriadProRegular.svg#MyriadProRegular") format("svg"); }

* {
  font-family: MyriadProRegular, Arial, sans-serif; }

* {
  box-sizing: border-box; }

body {
  background: #fbfbfb;
  font-size: 62.5%;
  margin: 5px auto;
  width: 960px; }

.siteContent {
  margin: 3.8em 1.5em 2em 1.5em; }
  .siteContent .filter {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 18.2em; }
    .siteContent .filter button {
      cursor: pointer;
      width: 16%;
      border: solid 1px #eeeeee;
      outline: none;
      background: none;
      font-size: 1.25em;
      padding: .5em 0;
      transition: border-color, color, background-color;
      transition-timing-function: linear;
      transition-duration: .2s;
      background-color: white; }
      .siteContent .filter button:hover {
        border-color: #989898; }
      .siteContent .filter button.selected {
        position: relative;
        background: #555555;
        color: #fbfbfb;
        text-transform: uppercase; }
        .siteContent .filter button.selected::after {
          border-color: #555555 transparent transparent transparent;
          border-style: solid;
          border-width: .7em .7em 0 .7em;
          content: "";
          left: 37%;
          top: 100%;
          position: absolute; }

#slider {
  margin: 2em 0 0 18.2em;
  width: 55%; }

.siteHeader {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  position: relative;
  z-index: 1; }
  .siteHeader button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none; }
    .siteHeader button:hover {
      text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.1); }
  .siteHeader .logo {
    margin-right: auto; }
  .siteHeader .categorySearch {
    background: white;
    border: solid 1px #eeeeee;
    border-radius: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5em;
    margin-left: .5em;
    min-width: 27.1em;
    position: relative;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /*.selectedTagsBtn--*/
    /*.goBtn--*/
    /*.tagList--*/ }
    .siteHeader .categorySearch > input[type='text'] {
      background: url("/img/search_icon.png") no-repeat 0.5em center;
      border: none;
      color: #989898;
      font-style: italic;
      outline: none;
      padding-left: 2.5em;
      width: 17.6em; }
    .siteHeader .categorySearch .selectedTagsBtn {
      border-left: solid 1px #eeeeee;
      border-right: solid 1px #eeeeee;
      color: #989898;
      height: 60%;
      margin: auto 0 auto .5em;
      padding: .3em 1em;
      position: relative;
      transition: color .2s linear, border-color .2s linear;
      white-space: nowrap;
      width: 10em; }
      .siteHeader .categorySearch .selectedTagsBtn.pressed {
        background-color: white;
        border: solid 1px #eeeeee;
        border-bottom: solid 1px white;
        color: #777777;
        height: 88%;
        padding-bottom: 1.5%;
        padding-top: 0;
        top: .23em; }
      .siteHeader .categorySearch .selectedTagsBtn:after {
        border-color: #989898 transparent transparent transparent;
        border-style: solid;
        border-width: .75em .75em 0 .75em;
        content: "";
        left: .4em;
        position: relative;
        top: 1em;
        transition: border-color .2s linear; }
      .siteHeader .categorySearch .selectedTagsBtn.pressed::after {
        border-color: #777777 transparent transparent transparent; }
    .siteHeader .categorySearch .goBtn {
      background: url("/img/search-go.png") no-repeat;
      border: solid 1px white;
      border-radius: 50%;
      height: 24px;
      margin: auto 10px;
      outline: none;
      width: 24px;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
      .siteHeader .categorySearch .goBtn:hover {
        border: solid 1px rgba(0, 0, 0, 0.01);
        -webkit-filter: invert(0.1);
                filter: invert(0.1); }
    .siteHeader .categorySearch .tagList {
      background: white;
      border: solid 1px #eeeeee;
      border-top: none;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      left: -1px;
      list-style: none;
      opacity: 0;
      padding: .3em;
      position: absolute;
      right: -1px;
      top: -99999px;
      transition: opacity 0.2s linear;
      z-index: -1000;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      /*>li --*/
      /*>li:first-child  --*/ }
      .siteHeader .categorySearch .tagList.pressed {
        opacity: 1;
        top: 60%; }
      .siteHeader .categorySearch .tagList > li {
        color: #777777;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 33%;
        /*.checkbox --*/ }
        .siteHeader .categorySearch .tagList > li label {
          border: solid 1px #eeeeee;
          height: 100%;
          transition: background-color .2s linear, color .2s linear, border-color .2s linear; }
          .siteHeader .categorySearch .tagList > li label:hover {
            border: solid 1px #989898; }
        .siteHeader .categorySearch .tagList > li:nth-of-type(2n+2) .checkbox + label {
          background: #f4f4f4; }
        .siteHeader .categorySearch .tagList > li:nth-of-type(2n+3) .checkbox + label {
          background: #eeeeee; }
        .siteHeader .categorySearch .tagList > li .checkbox:not(checked) {
          opacity: 0;
          position: absolute; }
          .siteHeader .categorySearch .tagList > li .checkbox:not(checked) + label {
            padding: .4em .3em .6em 2em;
            width: 100%; }
            .siteHeader .categorySearch .tagList > li .checkbox:not(checked) + label:before {
              background: url("/img/not_selected_category.png") no-repeat 0.2em 0.3em;
              content: '';
              height: 100%;
              left: .5em;
              position: absolute;
              width: 100%; }
        .siteHeader .categorySearch .tagList > li .checkbox:checked + label {
          background: #555555;
          border-color: #555555;
          color: #fbfbfb; }
          .siteHeader .categorySearch .tagList > li .checkbox:checked + label:before {
            background: url("/img/selected_category.png") no-repeat 0.2em 0.3em;
            content: '';
            height: 100%;
            left: .5em;
            position: absolute;
            width: 100%; }
      .siteHeader .categorySearch .tagList > li:first-child {
        font-size: 0.9em;
        margin: .5em 0 0 .3em;
        width: 100%; }
        .siteHeader .categorySearch .tagList > li:first-child .checkbox:not(checked) + label:before {
          background: url("/img/unchecked_box.png");
          height: 18px;
          left: 1%;
          top: 10%;
          width: 18px; }
        .siteHeader .categorySearch .tagList > li:first-child .checkbox:checked + label {
          background: white;
          border-color: #989898;
          color: inherit; }
          .siteHeader .categorySearch .tagList > li:first-child .checkbox:checked + label:before {
            background: url("/img/checked_box.png"); }
        .siteHeader .categorySearch .tagList > li:first-child > label {
          border: none;
          padding-left: .3em; }
  .siteHeader .userAuth {
    border: solid 1px #eeeeee;
    border-radius: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4em;
    margin-left: 1.4em;
    width: 11.5em;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .siteHeader .userAuth button {
      color: #989898;
      height: 100%;
      padding-top: 1.8em;
      white-space: nowrap;
      width: 49%; }
    .siteHeader .userAuth .singUp {
      background: url("/img/sing_up_icon.png") no-repeat center 0.7em; }
    .siteHeader .userAuth .login {
      background: url("/img/login_icon.png") no-repeat center 0.7em; }
    .siteHeader .userAuth .delimiter {
      background: #eeeeee;
      display: inline-block;
      height: 55%;
      width: 1px; }

.siteMenu {
  color: #555555;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6em;
  font-weight: bold;
  list-style: none;
  margin: 2em .5em 0 .5em;
  padding: 0;
  position: relative;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .siteMenu::after {
    background: linear-gradient(90deg, #777777 4%, transparent 4%, transparent 8.5%, #777777 8.5%, #777777 16.5%, transparent 16.5%, transparent 21%, #777777 21%, #777777 29%, transparent 29%, transparent 33.5%, #777777 33.5%, #777777 41.5%, transparent 41.5%, transparent 46%, #777777 46%, #777777 54%, transparent 54%, transparent 58.5%, #777777 58.5%, #777777 66.5%, transparent 66.5%, transparent 71%, #777777 71%, #777777 79%, transparent 79%, transparent 83.5%, #777777 83.5%, #777777 91.5%, transparent 91.5%, transparent 96%, #777777 96%, #777777);
    content: "";
    height: .3em;
    left: 0;
    position: absolute;
    top: 1em;
    width: 100%;
    z-index: -100; }
  .siteMenu li {
    background: url("/img/menu_sprite.png") no-repeat 77px center;
    cursor: pointer;
    padding: 3em 0 0 0;
    position: relative;
    text-align: center;
    width: 20%; }
    .siteMenu li:hover {
      text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2); }
    .siteMenu li.selected {
      color: #fdcc05;
      text-transform: uppercase; }

#menuHome {
  background-position: -77px -175px; }
  #menuHome.selected {
    background-position: 47px -175px; }

#menuPhotography {
  background-position: -77px -357px; }
  #menuPhotography.selected {
    background-position: 47px -357px; }

#menuVideo {
  background-position: -77px -625px; }
  #menuVideo.selected {
    background-position: 47px -625px; }

#menuEnvironment {
  background-position: -77px -85px; }
  #menuEnvironment.selected {
    background-position: 47px -85px; }

#menuTravel {
  background-position: -77px -445px; }
  #menuTravel.selected {
    background-position: 47px -445px; }

#menuAdventure {
  background-position: -77px 0; }
  #menuAdventure.selected {
    background-position: 47px 0; }

#menuTelevision {
  background-position: -77px -540px; }
  #menuTelevision.selected {
    background-position: 47px -540px; }

#menuKids {
  background-position: -77px -265px; }
  #menuKids.selected {
    background-position: 47px -265px; }

.submenu {
  color: #777777;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 12.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .submenu li {
    background: url("/img/submenu_sprite.png");
    border: solid 1px #eeeeee;
    margin: 0 0 .5em 0;
    padding: 3.5em 0 .5em 0;
    width: 49%;
    transition: border-color, color, background-color;
    transition-timing-function: linear;
    transition-duration: .2s;
    background-color: white; }
    .submenu li:hover {
      border-color: #989898; }
    .submenu li.selected {
      background-color: #555555;
      color: white; }

#submenuDailyNews {
  background-position: 3px -110px; }
  #submenuDailyNews.selected {
    background-position: 73px -110px; }

#submenuMagazine {
  background-position: 3px -560px; }
  #submenuMagazine.selected {
    background-position: 73px -560px; }

#submenuMaps {
  background-position: 3px -650px; }
  #submenuMaps.selected {
    background-position: 73px -650px; }

#submenuScience {
  background-position: 3px -740px; }
  #submenuScience.selected {
    background-position: 73px -740px; }

#submenuEducation {
  background-position: 3px -200px; }
  #submenuEducation.selected {
    background-position: 73px -200px; }

#submenuGames {
  background-position: 3px -470px; }
  #submenuGames.selected {
    background-position: 73px -470px; }

#submenuEvents {
  background-position: 3px -290px; }
  #submenuEvents.selected {
    background-position: 73px -290px; }

#submenuBlogs {
  background-position: 3px -20px; }
  #submenuBlogs.selected {
    background-position: 73px -20px; }

#submenuExplorers {
  background-position: 3px -380px; }
  #submenuExplorers.selected {
    background-position: 73px -380px; }

#submenuTrips {
  background-position: 3px -825px; }
  #submenuTrips.selected {
    background-position: 73px -825px; }

.slider {
  position: relative; }
  .slider .links {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    z-index: 1; }
    .slider .links p {
      background: #555555;
      color: #eeeeee;
      cursor: pointer;
      display: inline-block;
      margin: 0;
      padding: .5em .75em;
      position: relative;
      transition: background-color .2s linear;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .slider .links p.current {
        background: #fdcc05; }
      .slider .links p:hover {
        -webkit-filter: invert(0.1);
                filter: invert(0.1); }
      .slider .links p:nth-child(n+2):not(.current):before {
        background: #777777;
        content: "";
        height: 55%;
        left: 0;
        position: absolute;
        width: 1px; }
  .slider .images img {
    display: none;
    width: 100%;
    object-fit: cover; }
    .slider .images img.current {
      display: block; }
  .slider .caption {
    background: #fbfbfb;
    border: solid 1px #eeeeee;
    bottom: 0;
    color: #535353;
    font-size: 1.15em;
    position: absolute;
    width: 100%;
    z-index: 2; }
    .slider .caption article {
      display: none; }
      .slider .caption article.current {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .slider .caption article h3 {
        font-size: 1.3em;
        margin: .5em 0 0 1rem; }
      .slider .caption article p {
        display: inline-block;
        margin: .3em 0 1em 1rem; }
      .slider .caption article button {
        background: url("/img/pause.png") no-repeat center;
        border: none;
        border-left: solid 1px #eeeeee;
        cursor: pointer;
        margin-left: auto;
        outline: none;
        width: 10%; }

/*# sourceMappingURL=styles.css.map */
