.submenu {
  font-size: 1.3em;
  list-style: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  color: red;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12.5em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
  border: solid 1px red;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .submenu li {
    background: url("../img/submenu_sprite.png");
    width: 48%;
    border: solid 1px red;
    padding: 3.5em 0 .5em 0;
    margin: 0 0 .5em 0; }

#submenuDailyNews {
  background-position-x: 25px;
  background-position-y: -20px; }

#submenuMagazine {
  background-position-y: -50px; }

#submenuMaps {
  background-position-y: -90px; }

#submenuScience {
  background-position-y: -130px; }

#submenuEducation {
  background-position-y: -160px; }

#submenuGames {
  background-position-y: -190px; }

#submenuEvents {
  background-position-y: -210px; }

#submenuBlogs {
  background-position-y: -240px; }

#submenuExplorers {
  background-position-y: -270px; }

#submenuTrips {
  background-position-y: -310px; }

/*# sourceMappingURL=submenu.css.map */
