* {
  box-sizing: border-box;
}

body {
  background: $pageBackgroundColor;
  //background: linear-gradient(black, red);
  font-size: 62.5%;
  margin: 5px auto;
  width: 960px;
}

.siteContent {
  margin: 3.8em 1.5em 2em 1.5em;


  .filter {
    display: flex;
    width: 55%;
    justify-content: space-between;
    margin-left: 18.2em;
    button{
      cursor: pointer;
      width: 16%;
      border: solid 1px $lightBorderColor;
      outline: none;
      background: none;
      font-size: 1.25em;
      padding: .5em 0;
      transition: border-color, color, background-color;
      transition-timing-function: linear;
      transition-duration: .2s;
      background-color: $boxBackgroundColor;

      &:hover {
        border-color: $borderColor;
      }

      &.selected {
        position: relative;
        background: $selectedCategoryBackgroundColor;
        color: $selectedCategoryTextColor;
        text-transform: uppercase;

        &::after {
            border-color: $selectedCategoryBackgroundColor transparent transparent transparent;
            border-style: solid;
            border-width: .7em .7em 0 .7em;
            content: "";
            left: 37%;
            top: 100%;
            position: absolute;
        }
      }
    }
  }
}

#slider{
 margin: 2em 0 0 18.2em;
 width: 55%;
}

