.siteHeader {
  display: flex;
  margin: 1em;
  position: relative;
  z-index: 1;

  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
      text-shadow: 0 0 .1em rgba(0, 0, 0, .1);
    }
  }
  .logo {
    margin-right: auto;
  }
  .categorySearch {
    background: $boxBackgroundColor;
    border: solid 1px $lightBorderColor;
    border-radius: $borderRadius;
    display: flex;
    font-size: 1.5em;
    margin-left: .5em;
    min-width: 27.1em;
    position: relative;
    flex-wrap: nowrap;
    user-select: none;

    > input[type='text'] {
      background: url('/img/search_icon.png') no-repeat .5em center;
      border: none;
      color: $contentColor;
      font-style: italic;
      outline: none;
      padding-left: 2.5em;
      width: 17.6em;
    }

    .selectedTagsBtn {
      border-left: solid 1px $lightBorderColor;
      border-right: solid 1px $lightBorderColor;
      color: $contentColor;
      height: 60%;
      margin: auto 0 auto .5em;
      padding: .3em 1em;
      position: relative;
      transition: color .2s linear, border-color .2s linear;
      white-space: nowrap;
      width: 10em;

      &.pressed {
        background-color: $boxBackgroundColor;
        border: solid 1px $lightBorderColor;
        border-bottom: solid 1px $boxBackgroundColor;
        color: $pressedButtonColor;
        height: 88%;
        padding-bottom: 1.5%;
        padding-top: 0;
        top: .23em;
      }

      &:after {
        border-color: $borderColor transparent transparent transparent;
        border-style: solid;
        border-width: .75em .75em 0 .75em;
        content: "";
        left: .4em;
        position: relative;
        top: 1em;
        transition: border-color .2s linear;
      }
      &.pressed::after {
        border-color: $pressedButtonColor transparent transparent transparent;
      }
    }
    /*.selectedTagsBtn--*/

    .goBtn {
      background: url("/img/search-go.png") no-repeat;
      border: solid 1px $boxBackgroundColor;
      border-radius: 50%;
      height: 24px;
      margin: auto 10px;
      outline: none;
      width: 24px;
      flex-shrink: 0;

      &:hover {
        border: solid 1px rgba(0, 0, 0, .01);
        filter: invert(.1);
      }
    }
    /*.goBtn--*/

    .tagList {
      background: $boxBackgroundColor;
      border: solid 1px $lightBorderColor;
      border-top: none;
      display: flex;
      left: -1px;
      list-style: none;
      opacity: 0;
      padding: .3em;
      position: absolute;
      right: -1px;
      top: -99999px;
      transition: opacity 0.2s linear;
      z-index: -1000;
      flex-flow: row wrap;
      justify-content: space-around;

      &.pressed {
        opacity: 1;
        top: 60%;
      }

      > li {
        color: $darkContentColor;
        display: flex;
        position: relative;
        width: 33%;

        label {
          border: solid 1px $lightBorderColor;
          height: 100%;
          transition: background-color .2s linear, color .2s linear, border-color .2s linear;

          &:hover {
            border: solid 1px $borderColor;
          }
        }

        &:nth-of-type(2n+2) .checkbox + label {
          background: $notSelectedCategoryBackgroundColor1;
        }

        &:nth-of-type(2n+3) .checkbox + label {
          background: $notSelectedCategoryBackgroundColor2;
        }

        .checkbox {
          &:not(checked) {
            opacity: 0;
            position: absolute;

            + label {
              padding: .4em .3em .6em 2em;
              width: 100%;

              &:before {
                background: url("/img/not_selected_category.png") no-repeat .2em .3em;
                content: '';
                height: 100%;
                left: .5em;
                position: absolute;
                width: 100%;
              }
            }
          }
          &:checked {
            + label {
              background: $selectedCategoryBackgroundColor;
              border-color: $selectedCategoryBackgroundColor;
              color: $selectedCategoryTextColor;

              &:before {
                background: url("/img/selected_category.png") no-repeat .2em .3em;
                content: '';
                height: 100%;
                left: .5em;
                position: absolute;
                width: 100%;
              }
            }
          }
        }
        /*.checkbox --*/
      }
      /*>li --*/

      > li:first-child {
        font-size: 0.9em;
        margin: .5em 0 0 .3em;
        width: 100%;

        .checkbox {
          &:not(checked) {
            + label {
              &:before {
                background: url("/img/unchecked_box.png");
                height: 18px;
                left: 1%;
                top: 10%;
                width: 18px;
              }
            }
          }
          &:checked + label {
            background: $boxBackgroundColor;
            border-color: $borderColor;
            color: inherit;
            &:before {
              background: url("/img/checked_box.png");
            }
          }
        }

        > label {
          border: none;
          padding-left: .3em;
        }
      }
      /*>li:first-child  --*/

    }
    /*.tagList--*/
  }

  .userAuth {
    border: solid 1px $lightBorderColor;
    border-radius: $borderRadius;
    display: flex;
    font-size: 1.4em;
    margin-left: 1.4em;
    width: 11.5em;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;

    button {
      color: $contentColor;
      height: 100%;
      padding-top: 1.8em;
      white-space: nowrap;
      width: 49%;
    }

    .singUp {
      background: url("/img/sing_up_icon.png") no-repeat center .7em;
    }
    .login {
      background: url("/img/login_icon.png") no-repeat center .7em;
    }
    .delimiter {
      background: $lightBorderColor;
      display: inline-block;
      height: 55%;
      width: 1px;
    }
  }
}




