.siteMenu {
  color: $veryDarkContentColor;
  display: flex;
  font-size: 1.6em;
  font-weight: bold;
  list-style: none;
  margin: 2em .5em 0 .5em;
  padding: 0;
  position: relative;
  justify-content: space-between;
  user-select: none;

  &::after {
    background: linear-gradient(90deg,
            $menuLineBackgroundColor 4%,

            transparent 4%,
            transparent 8.5%,

            $menuLineBackgroundColor 8.5%,
            $menuLineBackgroundColor 16.5%,

            transparent 16.5%,
            transparent 21%,

            $menuLineBackgroundColor 21%,
            $menuLineBackgroundColor 29%,

            transparent 29%,
            transparent 33.5%,

            $menuLineBackgroundColor 33.5%,
            $menuLineBackgroundColor 41.5%,

            transparent 41.5%,
            transparent 46%,

            $menuLineBackgroundColor 46%,
            $menuLineBackgroundColor 54%,

            transparent 54%,
            transparent 58.5%,

            $menuLineBackgroundColor 58.5%,
            $menuLineBackgroundColor 66.5%,

            transparent 66.5%,
            transparent 71%,

            $menuLineBackgroundColor 71%,
            $menuLineBackgroundColor 79%,

            transparent 79%,
            transparent 83.5%,

            $menuLineBackgroundColor 83.5%,
            $menuLineBackgroundColor 91.5%,

            transparent 91.5%,
            transparent 96%,

            $menuLineBackgroundColor 96%,
            $menuLineBackgroundColor);
    content: "";
    height: .3em;
    left: 0;
    position: absolute;
    top: 1em;
    width: 100%;
    z-index: -100;
  }

  li {
    background: url("/img/menu_sprite.png") no-repeat 77px center;
    cursor: pointer;
    padding: 3em 0 0 0;
    position: relative;
    text-align: center;
    width: 20%;

    &:hover {
      text-shadow: 0 0 .1em rgba(0, 0, 0, .2);
    }

    &.selected {
      color: $menuSelectedTextColor;
      text-transform: uppercase;
    }
  }
}

#menuHome {
  background-position: -77px -175px;
  &.selected {
    background-position: 47px -175px;
  }
}

#menuPhotography {
  background-position: -77px -357px;
  &.selected {
    background-position: 47px -357px;
  }
}

#menuVideo {
  background-position: -77px -625px;
  &.selected {
    background-position: 47px -625px;
  }
}

#menuEnvironment {
  background-position: -77px -85px;
  &.selected {
    background-position: 47px -85px;
  }
}

#menuTravel {
  background-position: -77px -445px;
  &.selected {
    background-position: 47px -445px;
  }
}

#menuAdventure {
  background-position: -77px 0;
  &.selected {
    background-position: 47px 0;
  }
}

#menuTelevision {
  background-position: -77px -540px;
  &.selected {
    background-position: 47px -540px;
  }
}

#menuKids {
  background-position: -77px -265px;
  &.selected {
    background-position: 47px -265px;
  }
}