.slider {
  position: relative;

  .links {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    z-index: 1;

    p {
      background: $sliderPrimary1;
      color: $lightContentColor;
      cursor: pointer;
      display: inline-block;
      margin: 0;
      padding: .5em .75em;
      position: relative;
      transition: background-color .2s linear;
      user-select: none;

      &.current {
        background: $sliderPrimary2;
      }

      &:hover {
        filter: invert(.1);
      }

      &:nth-child(n+2):not(.current):before {
        background: $sliderDelimiter;
        content: "";
        height: 55%;
        left: 0;
        position: absolute;
        width: 1px;
      }
    }
  }

  .images img {
    display: none;
    width: 100%;
    object-fit: cover;

    &.current {
      display: block;
    }
  }

  .caption {
    background: $sliderCaptionBackground;
    border: solid 1px $lightBorderColor;
    bottom: 0;

    color: $darkContentColor*.7;
    font-size: 1.15em;
    position: absolute;
    width: 100%;
    z-index: 2;

    article {
      display: none;

      &.current {
        display: flex;
      }

      h3 {
        font-size: 1.3em;
        margin: .5em 0 0 1rem;
      }

      p {
        display: inline-block;
        margin: .3em 0 1em 1rem;
      }

      button {
        background: url("/img/pause.png") no-repeat center;
        border: none;
        border-left: solid 1px $lightBorderColor;
        cursor: pointer;
        margin-left: auto;
        outline: none;
        width: 10%;
      }
    }
  }
}