.submenu {
  color: $darkContentColor;
  cursor: pointer;
  display: flex;
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 12.5em;
  user-select: none;
  flex-wrap: wrap;
  justify-content: space-between;


  li {
    background: url("/img/submenu_sprite.png");
    border: solid 1px $lightBorderColor;
    margin: 0 0 .5em 0;
    padding: 3.5em 0 .5em 0;
    width: 49%;
    transition: border-color, color, background-color;
    transition-timing-function: linear;
    transition-duration: .2s;
    background-color: $boxBackgroundColor;

    &:hover {
      border-color: $borderColor;
    }

    &.selected {
      background-color: $submenuSelectedColor;
      color: $submenuSelectedTextColor;
    }
  }
}

#submenuDailyNews {
  background-position: 3px -110px;
  &.selected {
    background-position: 73px -110px;
  }
}

#submenuMagazine {
  background-position: 3px -560px;
  &.selected {
    background-position: 73px -560px;
  }
}

#submenuMaps {
  background-position: 3px -650px;
  &.selected {
    background-position: 73px -650px;
  }
}

#submenuScience {
  background-position: 3px -740px;
  &.selected {
    background-position: 73px -740px;
  }
}

#submenuEducation {
  background-position: 3px -200px;
  &.selected {
    background-position: 73px -200px;
  }
}

#submenuGames {
  background-position: 3px -470px;
  &.selected {
    background-position: 73px -470px;
  }
}

#submenuEvents {
  background-position: 3px -290px;
  &.selected {
    background-position: 73px -290px;
  }
}

#submenuBlogs {
  background-position: 3px -20px;
  &.selected {
    background-position: 73px -20px;
  }
}

#submenuExplorers {
  background-position: 3px -380px;
  &.selected {
    background-position: 73px -380px;
  }
}

#submenuTrips {
  background-position: 3px -825px;
  &.selected {
    background-position: 73px -825px;
  }
}