@font-face {
  font-family: 'MyriadProRegular';
  src: url('/fonts/MyriadProRegular.eot');
  src: url('/fonts/MyriadProRegular.eot') format('embedded-opentype'),
  url('/fonts/MyriadProRegular.woff2') format('woff2'),
  url('/fonts/MyriadProRegular.woff') format('woff'),
  url('/fonts/MyriadProRegular.ttf') format('truetype'),
  url('/fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

* {
  font-family: MyriadProRegular, Arial, sans-serif;
}