/*++COLORS PALETTE*/
$superLight: #fbfbfb;
$veryLight: #f4f4f4;
$light: #eeeeee;
$primary: #989898;
$dark:#777777;
$veryDark: #555555;
$superDark:#1f1f1f;
$primary2: #fdcc05;
/*COLORS PALETTE--*/

/*++COLORS VARIABLES*/
$pageBackgroundColor: $superLight;
$boxBackgroundColor: white;
$lightBorderColor: $light;
$borderColor: $primary;
$lightContentColor: $light;
$contentColor: $primary;
$darkContentColor: $dark;
$veryDarkContentColor: $veryDark;
$pressedButtonColor: $dark;
$selectedCategoryBackgroundColor: $veryDark;
$selectedCategoryTextColor: $superLight;
$notSelectedCategoryBackgroundColor1: $veryLight;
$notSelectedCategoryBackgroundColor2: $light;
$notSelectedCategoryBackgroundColor: $primary;
$menuLineBackgroundColor: $dark;
$menuItemBackgroundColor: white;
$menuSelectedTextColor:$primary2;
$submenuSelectedColor: $veryDark;
$submenuSelectedTextColor: white;

$sliderDelimiter: $dark;
$sliderCaptionBackground: $superLight;
$sliderPrimary1: $veryDark;
$sliderPrimary2: $primary2;

/*COLORS VARIABLES--*/

$borderRadius: 3px;